.menuNav-main {
    font-size: 20px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    padding: 15px 0;
}

.menuNav-main ul {
    display: flex;
}
.menuNav-main ul li {
    padding: 13px;
}
.menuNav-main ul li a {
    padding: 8px;
}

/************  menuNav-panel *****************/

.menuNav-panel{
    display: block;
    position: relative;    
    background: rgba(40, 29, 139, 0.5);
    border: 2px solid rgb(247, 255, 255);
    border-top: 1px solid rgba(40, 29, 139, 0.5);
    margin-bottom: -2px;
    width: 500px;
    transform:translateY(-65px);
    transition: transform .3s ease-in-out;
}
.menuNav-panel.show{
    transform: translateY(-10px);
}

.menuNav-panel a:hover{
    padding-bottom: 4px;
    border-bottom: 2px solid white;
}
.menuNav-panel-right{
    position: relative;
    cursor: pointer;
    top: 5px;
    z-index: 2;

}
.menuNav-panel-right a:hover{
    opacity: .8;
}

.menuNav-main ul.menuNav-panel{
    flex: 1;
}

/************ Mobile (Small screen) *****************/

@media (max-width:700px){
    .menuNav-main ul.menuNav-panel {
        display: block;
        position: relative;    
        background: rgba(40, 29, 139, 0.5);
        width: 20%;
        left:0;
        top:0;
        transform:translateY(0px);
        transform:translateX(-300px);
        transition: transform .3s ease-in-out;
        width: 200px;
        height: 300%;
        position: absolute;
        z-index: 3;
        backdrop-filter: blur(7px);
    }

    .menuNav-main ul.menuNav-panel.show {
        transform: translateX(0px);
    }
}