.menuNav-main {
    font-size: 20px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    padding: 15px 0;
    /* margin-top: 10px; */
}

.menuNav-main ul {
    display: flex;
}
.menuNav-main ul li {
    padding: 13px;
}
.menuNav-main ul li a {
    padding: 8px;
}

/************  menuNav-panel *****************/

.menuNav-panel{
    display: block;
    position: relative;    
    background: rgba(40, 29, 139, 0.5);
    border: 2px solid rgb(247, 255, 255);
    border-top: 1px solid rgba(40, 29, 139, 0.5);
    margin-bottom: -2px;
    width: 500px;
    transform:translateY(-65px);
    transition: transform .3s ease-in-out;
}
.menuNav-panel.show{
    transform: translateY(-10px);
}

.menuNav-panel a:hover{
    padding-bottom: 4px;
    border-bottom: 2px solid white;
}
.menuNav-panel-right{
    position: relative;
    cursor: pointer;
    top: 5px;
    z-index: 2;

}
.menuNav-panel-right a:hover{
    opacity: .8;
}

.menuNav-main ul.menuNav-panel{
    flex: 1;
}

/************ *****************/
