
#diapo-container::-webkit-scrollbar {
    display: none;
}

#diapo-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.diapo-panel {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}