
#diapo-container::-webkit-scrollbar {
    display: none;
}

#diapo-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.row {
    display: flex;
    flex-direction: row;
}

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diapo-panel {
    /* position: relative; */
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.diapo-image {
    width: 100%;
    height: 100%;
    background: #fff no-repeat center center;
    background-size: contain;
}

.diapo-title {
    width: 100%;
    font-size: 220%;
    padding: 1%;
    text-align: center;
    color: black;
}

.diapo-text {
    width: 100%;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

.diapo-text-left {
    width: 100%;
    font-size: 170%;
    padding: 2%;
    text-align: left;
}